{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="container mtCategory w-75">
        <h1 class="h3 font-weight-normal text-center">Toutes les catégories</h1>
        {# total items count #}
        <div class="count mt-3 mb-3">
            Nombre de catégories : {{ categories.getTotalItemCount }}
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nom</th>
                <th>Description</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td class="text-center">{{ category.id }}</td>
                    <td class="text-center">{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-success" href="{{ path('category_show', {'id': category.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-sm btn-warning mt-1" href="{{ path('category_edit', {'id': category.id}) }}"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(categories) }}
        </div>
        <div class="text-center mt-5">
          <a href="{{ path('category_new') }}" class="btn btn-md btn-primary">Ajouter une catégorie</a>
        </div>
    </div>
{% endblock %}
